$pageWidth: 960px;

.theme-button-container {
    position: relative;
    margin: 0 auto;
    max-width: $pageWidth;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px;

    .theme-menu {
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 8px;
        border-radius: 4px;
        background-color: var(--invisible);
        position: absolute;
        top: 62px;
        border: 1px solid #7a7a7a80;
        box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
        /* display: none; */

        .icon {
            padding-right: 10px;
        }

        &__theme-button {
            display: flex;
            flex-direction: row;
            //justify-content: center;
            align-items: center;
            //flex-direction: column;
            color: var(--primary-text-color);
            background-color: var(--invisible);
            padding: 0 12px;
            height: 40px;
            width: 100%;
            border-radius: 5px;
        }

        :hover {
            background-color: var(--taak-hover-color);
            color: var(--primary-text-color);
        }
    }

    .theme-button {
        justify-content: center;
        margin-top: 27px;
        max-width: fit-content;
        color: var(--theme-btn-text-color);
        border: solid 1px #7a7a7a80;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        padding: 6px;
    }
}

.totale-punten {
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__punten {
        font-weight: 700;
        font-size: 96px;
        text-align: center;
        margin: 0;
        line-height: 120px;
    }

    &__beschrijving {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin: 0;
        color: #B3B3B3
    }
}

.action-btn{
    background-color: var(--action-btn);
    margin: 0;
    margin-left: 4px;
    height: 100%;
    padding: 10px 14px;
    box-sizing: border-box;

    &:first-of-type {
        margin-left: 0;
    }

    img {
        height: 26px;
    }
}

.takenlijst {    
    position: relative;
    margin: 0 auto;
    margin-top: 72px;
    max-width: $pageWidth;
    display: flex;
    flex-direction: column;
    max-height: 432px;
    overflow-y: auto;

    &-container {
        max-height: 432px;
        overflow: hidden;
        position: relative; 

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--task-gradient);
            pointer-events: none;
        }
    }
}

.taak {
    cursor: pointer;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;


    &__punten-container {
        margin-top: -10px;
        font-style: normal;
        line-height: normal;
        min-width: 120px;
    }

    &__punten {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
    }

    &__punten-omschrijving {
        margin: 0;
        font-style: medium;
        font-weight: 555;
        font-size: 16px;
    }

    &__omschrijving {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    &__edit-input {
        color: var(--primary-text-color);
        background-color: var(--edit-bg-color);
        border-radius: 5px;
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        border: 0;
        outline: 0;
        text-align: center;
        padding: 12px;
        width: 60%;
        max-width: 500px;
    }

    &__datum {
        margin: 0;
        margin-left: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: var(--date-text-color);
        min-width: 146px;
        text-align: right;
    }

    &__action {
        text-align: right;
        min-width: 146px;
        margin-left: 12px;
    }

    &:last-child {
        margin-bottom: 100px;
    }

    &:hover:not(.taak--selected) {
        border-radius: 5px;
        background-color: var(--taak-hover-color);
    }

    &--selected {
        border-radius: 5px;
        background-color: var(--taak-select-color);
    }
}

.invoerformulier {
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 4px;
    max-width: calc($pageWidth / 6 * 5);

    &__label {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 36px;

        &:first-of-type {
            margin-left: 0;
        }

        &--small {
            width: 20%;
        }
    }

    &__label-tekst {
        text-transform: uppercase;
        margin: 0;
        font-weight: 500;
        padding-bottom: 4px;
    }

    &__input {
        border-radius: 5px;
        border: 1px solid #7a7a7a80;
        color: var(--primary-text-color);
        background-color: var(--input-bg-color);
        height: 64px;
        min-width: 64px;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        font-size: 20px;
    }

    &__toevoegen-button {
        color: var(--primary-button-text-color);
        width: 20%;
        margin-left: 36px;
        text-align: center;
        background-color: #449AFF;
        height: 64px;
        text-transform: uppercase;
        font-weight: 700;
        min-width: 140px;
    }
}

@media screen and (max-width: $pageWidth) {
    .theme-button-container {
        padding-right: 24px;
    }

    .takenlijst {
        margin-left: 24px;
        margin-right: 24px;
    }

    .invoerformulier {
        margin-left: 24px;
        margin-right: 24px;
    }


}
