$pageWidth: 960px;


.totale-punten {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__punten {
        font-weight: 700;
        font-size: 96px;
        text-align: center;
        margin: 0;
        line-height: 120px;
    }

    &__beschrijving {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin: 0;
        color: #B3B3B3
    }
}

.action-btn{
    margin: 0;
    margin-left: 4px;
    height: 100%;
    padding: 10px 14px;
    box-sizing: border-box;

    &:first-of-type {
        margin-left: 0;
    }

    img {
        height: 26px;
    }
}

.takenlijst {    
    position: relative;
    margin: 0 auto;
    margin-top: 72px;
    max-width: $pageWidth;
    display: flex;
    flex-direction: column;
    max-height: 432px;
    overflow-y: auto;

    &-container {
        max-height: 432px;
        overflow: hidden;
        position: relative; 

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgb(36, 36, 36) 0%, rgba(36, 36, 36, 0) 10%);
            pointer-events: none;
        }
    }
}

.taak {
    cursor: pointer;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;


    &__punten-container {
        margin-top: -10px;
        font-style: normal;
        line-height: normal;
        min-width: 120px;
    }

    &__punten {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
    }

    &__punten-omschrijving {
        margin: 0;
        font-style: medium;
        font-weight: 555;
        font-size: 16px;
    }

    &__omschrijving {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    &__edit-input {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        border: 0;
        outline: 0;
        text-align: center;
        padding: 12px;
        width: 60%;
        max-width: 500px;
    }

    &__datum {
        margin: 0;
        margin-left: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #B3B3B3;
        min-width: 146px;
        text-align: right;
    }

    &__action {
        text-align: right;
        min-width: 146px;
        margin-left: 12px;
    }

    &:last-child {
        margin-bottom: 100px;
    }

    &:hover:not(.taak--selected) {
        background-color: rgba(255, 255, 255, 0.03);
    }

    &--selected {
        background-color: rgba(255, 255, 255, 0.07);
    }
}

.invoerformulier {
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 4px;
    max-width: calc($pageWidth / 6 * 5);

    &__label {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 36px;

        &:first-of-type {
            margin-left: 0;
        }

        &--small {
            width: 20%;
        }
    }

    &__label-tekst {
        text-transform: uppercase;
        margin: 0;
        font-weight: 500;
        padding-bottom: 4px;
    }

    &__input {
        height: 64px;
        min-width: 64px;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        font-size: 20px;
    }

    &__toevoegen-button {
        width: 20%;
        margin-left: 36px;
        text-align: center;
        background-color: #449AFF;
        height: 64px;
        text-transform: uppercase;
        font-weight: 700;
        min-width: 140px;
    }
}

@media screen and (max-width: $pageWidth) {
    .takenlijst {
        margin-left: 24px;
        margin-right: 24px;
    }

    .invoerformulier {
        margin-left: 24px;
        margin-right: 24px;
    }


}
